In [ ]:
# FOR LOOP

# print numbers from 1 to 10 

for i in range ( 0, 11 ):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
# print the multiplication table of a given number

num = int(input("Enter a Number"))
for i in range(1,11):
    print(f"{i} x {num} = {num * i}")

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [17]:
# print all even numbers from 1 to 50

for i in range (1,51):
    if (i % 2 == 0):
        print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [28]:
# calculate the sum of numbers from 1 to 100 

total = 0
for i in range (1,101):
    total += i
print('sum =',total)

sum = 5050

In [34]:
# print the square of numbers from 1 to 10

for i in range (1,11):
    square = i*i
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# WHILE LOOP

# print numbers from 10 down to 1