In [ ]:
# FOR LOOP

# print numbers from 1 to 10 

for i in range ( 0, 11 ):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
# print the multiplication table of a given number

num = int(input("Enter a Number"))
for i in range(1,11):
    print(f"{i} x {num} = {num * i}")

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [17]:
# print all even numbers from 1 to 50

for i in range (1,51):
    if (i % 2 == 0):
        print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [28]:
# calculate the sum of numbers from 1 to 100 

total = 0
for i in range (1,101):
    total += i
print('sum =',total)

sum = 5050

In [34]:
# print the square of numbers from 1 to 10

for i in range (1,11):
    square = i*i
    print(square)

1
4
9
16
25
36
49
64
81
100

In [13]:
# WHILE LOOP

# print numbers from 10 down to 1

i = 10
while i >= 1 :
    print (i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [30]:
# calculate the factorial of a given number

num = int(input("Enter a Number"))
org = num
fact = 1
while num >= 1 :
    fact *= num
    num -= 1
print ("The factorial of",org, "is",fact)

The factorial of 5 is 120

In [44]:
# print the first 10 natural numbers

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [50]:
# reverse a given number

num = int(input('Enter a Number'))
rev = 0
while num > 0 :
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print(rev)

4321

In [52]:
# find the sum of digits of a given number 

num = int(input('Enter a Number'))
sum = 0
while num > 0 :
    digit = num % 10
    sum = sum + digit
    num //= 10
print(sum)

18

In [63]:
# NESTED FOR LOOP

# print a right-angled triangle pattern of * with 5 rows

n = 5
for i in range (1,n + 1):
    for j in range (1, i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [ ]:
# print a multiplication table from 1 to 5

for i in range(1,6):
    print(f"\nMulplication Table of ",i)
    for j in range (1,11):
         print(f"{i} x {j} = {i*j}")

Mulplication Table of  1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Mulplication Table of  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Mulplication Table of  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Mulplication Table of  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Mulplication Table of  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [78]:
# print a square pattern of numbers (1 to 5)

for i in range (1,6):
    for j in range (1,6):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [124]:
# print a pyramid pattern of *

n = int(input("Enter the Number of Star"))
for i in range (1,n + 1):
    for k in range (n-i):
        print(end=' ')
    for j in range (1, i+1):
        print('*',end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [97]:
#  print numbers in triangular form

n = 5
for i in range (1,n + 1):
    for j in range (1, i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [125]:
# BREAK STATEMENT

# print numbers from 1 to 10, but stop if the number is 5

for i in range (1,11):
    if (i == 5 ):
        break
    print(i)

1
2
3
4

In [135]:
# search for a given digit in a number; stop when found

num = int(input("Enter a Number"))
digit = int(input("Enter a Digit Number"))
found = False
while num > 0:
    last_digit = num % 10
    if (last_digit == digit):
        found = True
        break
    num //= 10
if found:
   print(digit,"Found")
else:
    print(digit,"Not Found")

2 Not Found

In [ ]:
# read characters from a string and stop when a is found

string = (input("Enter a String"))
found = False
for i in string :
    if (i == 'a'):
        found = True
        print("a is in the String")
        break
if not found :
    print("Not Found")

a is in the String

In [ ]:
# multiplication table of 7 but stop when the result exceeds 50

for i in range (1,11):
    if (i * 7 > 50):
        break
    print(i * 7)

7
14
21
28
35
42
49

In [11]:
# find the first divisor of a number (greater than 1)
num = int(input("Enter a NUmber"))
for divisor in range (2, num + 1):
    if (num % divisor == 0):
        print(divisor)
        break

17

In [13]:
# CONTINUE STATEMENT

#print numbers from 1 to 10 but skip 5

for i in range (1,11):
    if (i == 5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [14]:
# print all numbers from 1 to 20 except even numbers

for i in range (1,21):
    if (i % 2 == 0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [28]:
# print characters in a string except for vowels

text = input("Enter a String").lower()
for i in text :
    if i in ['a','e','i','o','u']:
        continue
    print(i)

m
h
s
n

In [18]:
# calculate the sum of numbers from 1 to 10, skipping multiples of 3

sum = 0
for i in range (1,11):
    sum += i
    if (sum % 3 == 0 ):
        continue
    print(sum)

1
10
28
55

In [23]:
# print multiplication table of 6, skipping multiples of 12

for i in range (1,11):
    result = i * 6
    if ( result % 12 == 0):
        continue
    print(result)

6
18
30
42
54