In [ ]:
# LIST

# find the largest and smallest number in a list

number = [2,5,9,10,34,56,2,4]
print(min(number))
print(max(number))

2
56

In [11]:
# remove duplicates from a list

fruits = ['apple','banana','cherry','apple','kiwi','banana']
new_list = list(set(fruits))
print(new_list)

['banana', 'cherry', 'apple', 'kiwi']

In [21]:
#  reverse a list without using built-in functions

list = [34,56,23,12,67,55,87,2,4]
x = list [::-1]
print(x)

[4, 2, 87, 55, 67, 12, 23, 56, 34]

In [30]:
# count how many times each element occurs in a list

numbers = [34, 3, 1, 5, 77, 5, 445, 3, 12, 4,3,4,34,12]
for i in set(numbers):
    print(i, "occurs", numbers.count(i), "times")

1 occurs 1 times
34 occurs 2 times
3 occurs 3 times
4 occurs 2 times
5 occurs 2 times
12 occurs 2 times
77 occurs 1 times
445 occurs 1 times

In [36]:
# separate odd and even numbers from a list

numbers = [2, 3, 6, 8, 1, 9, 10, 34, 22, 45, 67, 78]

even_numbers = []
odd_numbers = []

for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 6, 8, 10, 34, 22, 78]
Odd numbers: [3, 1, 9, 45, 67]

In [38]:
# TUPLE

# find the maximum and minimum values in a tuple

number = (2,5,9,10,34,56,2,4)
print(min(number))
print(max(number))
print(type(number))

2
56
<class 'tuple'>

In [ ]:
# check if a given element exists in a tuple

element = input("Enter a Element").lower()
tuple = (121,343,'naila',34,576,'raniya',654,24,76,'muhsina')
if element in [str(i) for i in tuple]:
    print(element, "is Found in Tuple")
else:
    print(element,"is Not Found in Tuple")

muhsina is Found in Tuple

In [1]:
# count the number of times a specific value occurs in a tuple

tuple = (23,45,64,12,76,23,55,45,23,12,45)
value = int(input("Enter a Specific Value"))
count = tuple.count(value)
print(f"{value} is Present in the tuple {count} times.")

45 is Present in the tuple 3 times.

In [2]:
# concatenate two tuples and print the result

t1 = (4,3,7,94,213,65,23,756)
t2 = (53,12,87,1,35,57,2,6,7,9)
print(t1 + t2)

(4, 3, 7, 94, 213, 65, 23, 756, 53, 12, 87, 1, 35, 57, 2, 6, 7, 9)

In [6]:
# slice a tuple and display only alternate elements

t = (53,12,87,1,35,57,2,6,7,9)
alt = t[::2]
print(f"The Alternate elements are {alt}")

The Alternate elements are (53, 87, 35, 2, 7)

In [9]:
# SET

# add multiple elements into a set

set = {12,23,34,45,56,67,78,89,90}
set.update([98,87,54,21])
print(set)

{34, 67, 98, 12, 45, 78, 21, 87, 23, 56, 89, 90, 54}

In [12]:
# remove an element from a set if it is present

set = {12,23,34,45,56,67,78,89,90}
element = int(input("Enter an element"))
if element in set :
    set.remove(element)
print(set)

{34, 67, 12, 45, 78, 23, 56, 89}

In [ ]:
# find the union, intersection, and difference of two sets

s1 = {4,3,7,94,213,65,23,756}
s2 = {53,12,87,1,35,57,2,6,7,9}